<%-include('../admin/layouts/header.ejs') %>
    <%-include('../admin/layouts/sideBar.ejs') %>
        <%-include('../admin/layouts/navBar.ejs') %>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div id="reloadDiv">
                                        <div class="container">

                                            <% if (couponData && couponData.length> 0) { %>
                                                <h2 class="mt-4">Coupons List</h2>
                                                <table class="table table-bordered mt-5">
                                                    <thead>
                                                        <tr>
                                                            <th>Coupon Code</th>
                                                            <th>Discount Percentage</th>
                                                            <th>Start Date</th>
                                                            <th>Expiry Date</th>
                                                            <th>Minimum Purchase Amount</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% couponData.forEach(coupon=> { %>
                                                            <tr>
                                                                <td>
                                                                    <div class="coupon-code">
                                                                        <%= coupon.code %>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="coupon-title">
                                                                        <%= coupon.discountPercentage %> %
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="coupon-expiry">
                                                                        <%= coupon.startDate.toLocaleDateString('en-US',
                                                                            { year: 'numeric' , month: 'short' ,
                                                                            day: '2-digit' }).replace(/\//g,'-') %>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="coupon-expiry">
                                                                        <%= coupon.expireDate.toLocaleDateString('en-US',
                                                                            { year: 'numeric' , month: 'short' ,
                                                                            day: '2-digit' }).replace(/\//g,'-') %>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="coupon-minimum-spend">
                                                                        <%= coupon.minimumSpend %>
                                                                            <!-- Add this line -->
                                                                    </div>
                                                                </td>
                                                                <td class="action">
                                                                    <a class="btn btn-danger action-button" onclick="deleteCoupon('<%= coupon._id %>')">Delete</a>
                                                                    <a class="btn btn-primary action-button" href="/admin/editCoupon?id=<%= coupon._id %>">Edit</a>
                                                                </td>
                                                                
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="mt-4 text-center ">
                                        <a class="btn btn-primary" href="/admin/addCoupon">Add Coupon</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <!-- // ================ swal ============= -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>
                function deleteCoupon(id) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You won\'t be able to revert this!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/admin/deleteCoupon',
                                method: 'delete',
                                data: {
                                    id
                                },
                                success: (response) => {
                                    if (response.success) {
                                        $('#reloadDiv').load('/admin/coupon #reloadDiv');
                                    } else {
                                        Swal.fire({
                                            title: 'Error',
                                            icon: 'error',
                                            text: response.message,
                                            timer: 2000
                                        });
                                    }
                                }
                            });
                        }
                    });
                }
            </script>

<%-include('../admin/layouts/footer.ejs') %>