<%-include('../admin/layouts/header.ejs') %>
<%-include('../admin/layouts/sideBar.ejs') %>
<%-include('../admin/layouts/navBar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">

    <div class="row">


    </div>

    <!-- revenue areas -->
    <div class="row">
      <div class="col-md-12 stretch-card p-3">
        <div class="row col-4">

          <h6 class="mb-3">Filter Report :</h6>
          <div >
            <button id="daily" onclick="reportMake('day')" class="btn btn-inverse-info ml-0 px-4">Daily</button>
            <button id="weekly" onclick="reportMake('week')" class="btn btn-inverse-info ml-3 px-4">Weekly</button>
            <button id="yearly" onclick="reportMake('year')" class="btn btn-inverse-info ml-3 px-4">Yearly</button>
          </div>
          
        </div>
        <div class="d-flex justify-content-end  w-100">
          <div class="d-flex  align-items-center col-5">
            <!-- <p class="text-secondary" id="reportTime">Report generated on :23 Oct 2023, 2:46 PM</p> -->
            <!-- <a id="downloadBtn" style="display: none;"  class="btn btn-warning btn-icon-text py-2"> <i class="mdi mdi-download "></i>Download Report</a> -->
            <p class="text-secondary mt-2" id="reportTime"></p>

          </div>
        </div>
      </div>
      
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Revenue</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0" id="revenue" >₹<%= report.amount%></h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Total Sales</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0" id="totalSale"><%= report.sales %></h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-chart-areaspline text-danger ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Total Users</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0"><%= users.length %></h2>
                  <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-cube-send text-success ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- revenue areas end -->

    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Transaction History</h4>
            <input value="<%=paymentChart.countOfCod%>" id="cod" hidden> <input value="<%=paymentChart.countOfOnline%>" id="online" hidden>
            <input value="<%=paymentChart.countOfWallet%>" id="wallet" hidden>
            <canvas id="TransactionChart" style="width:100%;max-width:600px;  "></canvas>

            <% if (paymentHistory && paymentHistory.length > 0) { %>
              <% for (let i = paymentHistory.length - 1; i >= 0; i--) { %>
                  <% const dateObject = paymentHistory[i].orderDate; %>
                  <% if (dateObject) { %>
                      <!-- Assuming dateObject is a JavaScript Date object containing your date -->
                      <% 
                          var day = dateObject.getDate();
                          var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                          var month = months[dateObject.getMonth()];
                          var year = dateObject.getFullYear();
                          var hours = dateObject.getHours();
                          var minutes = dateObject.getMinutes();
                          var ampm = hours >= 12 ? 'PM' : 'AM';
                          hours = hours % 12;
                          hours = hours ? hours : 12;
                          var minutesFormatted = minutes < 10 ? '0' + minutes : minutes;
                          var formattedDate = day + ' ' + month + ' ' + year + ', ' + hours + ':' + minutesFormatted + ampm;
                      %>

                      <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                          <div class="text-md-center text-xl-left">
                              <h6 class="mb-1">Transfer as <%= paymentHistory[i].paymentMethod %></h6>
                              <p class="text-muted mb-0"><%= formattedDate %></p>
                          </div>
                          <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                              <h6 class="font-weight-bold mb-0"> ₹ <%= paymentHistory[i].totalAmount %></h6>
                          </div>
                      </div>
                  <% } %>
              <% } %>
          <% } else { %>
              <!-- Handle the case when paymentHistory is undefined or empty -->
          <% } %>

        </div>
      </div>
    </div>

      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <h4 class="card-title mb-1">Recent Orders</h4>
              <!-- <p class="text-muted mb-1">Your data status</p> -->
            </div>
            <div class="row">
              <div class="col-12">
                <div class="preview-list">

                  <%for(i=orders.length-1;i>=0;i--){%>
                  <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-primary">
                        <img src="/static/adminAssets/images/products/<%= orders[i].product.images[0]%>" alt="">
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject"><%= orders[i].product.product_name %></h6>
                        <p class="text-muted mb-0">Quantity : <%= orders[i].orderDetails.quantity %></p>
                        <p class="text-muted mt-1">₹ <%= orders[i].orderDetails.totalAmount %></p>

                      </div>
                      <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                        <p class="text-muted"><%= orders[i].orderDetails.orderDate %></p>
                        <p class="text-muted mb-0"> <%= orders[i].user.userName %> <span class="mdi mdi-account-box-outline"></span></p>
                      </div>
                    </div>
                  </div>
                  <%}%>


                 

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="paymentChartContainer"></div>


  </div>
</div>


<!-- ==========// chart cdn =========== -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
    // ========== chart script ========
    function onpageLoad() {
    let codValue = document.getElementById("cod").value;
    let onlineValue = document.getElementById("online").value;
    let walletValue = document.getElementById("wallet").value;

    var xValues = ["Cash on delivery", "Online Payment", "Wallet"];
    var yValues = [parseInt(codValue), parseInt(onlineValue), parseInt(walletValue)];
    var barColors = [
        "#ffab00",
        "#00d25b",
        "#3366cc"  
    ];

    new Chart("TransactionChart", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: "#fff"
                }
            }
        }
    });
}

window.onload = onpageLoad;


// ========= day, weekly ,yearly report =========
function reportMake(data){
  let yearly = document.getElementById("year")
  let weekly = document.getElementById("weekly")
  let daily = document.getElementById("daily")
  let totalSale = document.getElementById("totalSale")
  let revenue = document.getElementById("revenue")
  let reportTime = document.getElementById("reportTime")
  // let downloadBtn = document.getElementById("downloadBtn")
  $.ajax({
    url: '/admin/report/genarate',
    type: 'POST',
    data: {data},
    success: function(response){
      response.auth==0 ? window.location.href="/admin":
      console.log(response);
      revenue.innerHTML="₹"+response.report.totalSalesAmount
      totalSale.innerHTML=response.report.totalOrders 
      reportTime.innerHTML =  "Report generated on :"+formatDate(response.report.reportDate)
      // downloadBtn.setAttribute("href",`/admin/reports/${response.fileName}`);
      downloadBtn.style.display = "block";

    }
  })
}
</script>

<%-include('../admin/layouts/footer.ejs') %>

