
<%-include('../admin/layouts/header.ejs') %>
<%-include('../admin/layouts/sideBar.ejs') %>
<%-include('../admin/layouts/navBar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit Category</h4>
            <form class="forms-sample" action="updateCategory" method="post">
    
              <% if (typeof message !== 'undefined') { %>
                <div id="invalid-msg" class="alert alert-danger text-center mt-3">
                  <h4><%- message %></h4>
                </div>
              <% } %>
    
              <div class="form-group">
                <label for="exampleInputName1">Category Name</label>
                <input type="text" class="form-control  text-white" id="exampleInputName1" name="categoryname" placeholder=" Category Name" value="<%= data.name %>">
              </div> 
              <br>     
              <div class="form-group">
                <label for="exampleTextarea1">Category Description</label>
                <textarea class="form-control  text-white" id="exampleTextarea1" rows="4" name="categorydes" placeholder="Category Description"><%= data.description %></textarea>
              </div>
              <br>
              <div class="input-container">
                <input type="hidden" name="id" value="<%= data._id %>">
              </div>

              <div class="row mt-5">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button class="btn btn-dark" id="cancelButton" type="button">Cancel</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

  </div>
</div>


<script>
    // ========= cancel button redirecting ==========
    document.addEventListener("DOMContentLoaded", function () {
  const cancelButton = document.getElementById("cancelButton");
  cancelButton.addEventListener("click", function () {
    window.location.href = "/admin/viewCategories"; // Redirect to the desired route
  });
});

</script>

<%-include('../admin/layouts/footer.ejs') %>











