<%-include('../admin/layouts/header.ejs') %>
  <%-include('../admin/layouts/sideBar.ejs') %>
    <%-include('../admin/layouts/navBar.ejs') %>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">EDIT PRODUCTS</h2>
                <form class="forms-sample" action="editProduct" method="post" enctype="multipart/form-data">
                  <div class="form-row">
                    <label for="exampleInputName1">Product Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="productname"
                      placeholder="Product Name" value="<%= data.productName %>" />
                  </div>
                  <br />
                  <div class="form-row align-items-center">
                    <div class="form-row align-items-center">
                      <div class="col-sm-12 my-1">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="category" required>
                          <% category.forEach(category=> { %>
                            <option value="<%= category._id %>">
                              <%= category.name %>
                            </option>
                            <% }); %>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-4 my-1">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control" id="inlineFormInputName1" name="price" placeholder="Price"
                        value="<%= data.price %>" />
                    </div>
                    <div class="col-sm-4 my-1">
                      <label for="exampleInputName1">Quantity</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="quantity"
                          placeholder="Quantity" value="<%= data.quantity %>" />
                      </div>
                    </div>
                  </div>
                  <br />

                  <div class="form-row">
                    <label for="exampleInputName1">Description</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">
                    <%= data.description %></textarea>
                  </div>
                  <br />

                  <div class="form-row">
                    <label for="">File upload (Multiple Images)</label>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 mb-0">
                        <div class="dynamic-image-inputs">
                          <div class="input-group">
                            <input type="file" name="images" class="form-control" />
                            <div class="input-group-append">
                              <button class="btn btn-primary add-image-input" type="button">
                                Add Image
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4">
                        <div class="col-md-12 grid-margin">
                          <div class="card">
                            <div class="card-body">
                              <div class="form-row">
                                <label for="file">Size</label>
                              </div>
                              <div class="form-group">
                                <select class="form-control" name="size" value="<%= data.size %>"
                                  id="exampleFormControlSelect2">
                                  <option>36</option>
                                  <option>38</option>
                                  <option>40</option>
                                  <option>42</option>
                                  <option>44</option>
                                  <option>46</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- img deleting option -->
                  <div class="form-row">
                    <label for="deleteImages">Delete Existing Images</label>
                    <% for (let i=0; i < data.images.length; i++) { %>
                      <div class="existing-image">
                        <img src="/static/adminAssets/images/products/<%= data.images[i] %>" alt="Existing Image"
                          class="product-image" />
                        <input type="checkbox" name="deleteImages" value="<%= data.images[i] %>" />
                        Delete
                      </div>
                      <% } %>
                  </div>

                  <div class="input-container">
                    <input type="hidden" name="id" value="<%= data._id %>" />
                  </div>

                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button class="btn btn-dark">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        /* CSS for image size and overflow */
        .product-image {
          max-width: 10%;
          /* Limit image width */
          height: auto;
          /* Maintain aspect ratio */
          display: block;
          /* Remove extra space below image */
        }

        .existing-image {
          margin-bottom: 10px;
          /* Add some space between images */
        }
      </style>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const addImageButton = document.querySelector(".add-image-input");
          const dynamicImageInputs = document.querySelector(".dynamic-image-inputs");

          addImageButton.addEventListener("click", function () {
            const inputGroup = document.createElement("div");
            inputGroup.className = "input-group";
            const inputFile = document.createElement("input");
            inputFile.type = "file";
            inputFile.name = "images";
            inputFile.className = "form-control";
            inputFile.required = true;
            const inputGroupAppend = document.createElement("div");
            inputGroupAppend.className = "input-group-append";
            const removeButton = document.createElement("button");
            removeButton.className = "btn btn-danger remove-image-input";
            removeButton.type = "button";
            removeButton.textContent = "Remove";
            removeButton.addEventListener("click", function () {
              inputGroup.remove();
            });
            inputGroupAppend.appendChild(removeButton);
            inputGroup.appendChild(inputFile);
            inputGroup.appendChild(inputGroupAppend);
            dynamicImageInputs.appendChild(inputGroup);
          });
        });
      </script>

      <%-include('../admin/layouts/footer.ejs') %>