<%-include('../admin/layouts/header.ejs') %>
<%-include('../admin/layouts/sideBar.ejs') %>
<%-include('../admin/layouts/navBar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">PRODUCTS</h2>

          <form action="" method="get" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search mb-2">
            <input type="text" name="key" class="form-control mb-1 text-light" placeholder="Search Products" id="searchInput">
        </form>

          <div class="table-responsive">
            <table class="table " id="user-table">
              <thead class=" text-white">
                <tr class=" text-white">
                  <th class=" text-white">Product </th>
                  <th class=" text-white">Brand</th> <!-- New "Brand" column -->
                  <th class=" text-white">Category</th>
                  <th class=" text-white">Price</th>
                  <th class=" text-white">Quantity</th>
                  <th class=" text-white">Description</th>
                  <th class=" text-white">Size</th>
                  <th class=" text-white">Edit</th>
                  <th class=" text-white">Action</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach(product => { %>
                  <tr>
                    <td>
                      <div class="product-image-container">
                      <img class="" alt="image" src="/static/adminAssets/images/products/<%= product.images[0] %>" alt="<%= product.productName %>">
                      </div>
                      <span>
                          <%=product.productName %>
                      </span>
                  </td>
                    <td><%= product.brand %></td> <!-- Display the "Brand" field -->
                    <td><%= product.category.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                    <td class="description-column"><%= product.description %></td>
                    <td><%= product.size %></td>
                    <td>
                      <a href="/admin/editProduct?id=<%= product._id%>">
                        <button type="button" class="btn btn-outline-secondary btn-icon-text">
                          Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                        </button>
                      </a>
                    </td>
                    <td>
                      <% if (product.status === false) { %>
                        <a href="/admin/unlistProduct?id=<%= product._id %>">
                          <button type="button" class="btn btn-inverse-success btn-fw">
                            List
                          </button>
                        </a>
                      <% } else { %>
                        <a href="/admin/unlistProduct?id=<%= product._id %>">
                          <button type="button" class="btn btn-inverse-danger btn-fw">
                            Unlist
                          </button>
                        </a> 
                      <% } %>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .description-column {
    max-width: 250px; /* Adjust the maximum width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-image-container {
    width: 100px; 
    height: 100px; 
    overflow: hidden; /
}

  /* Add media query for smaller screens to adjust the description column width */
  @media (max-width: 768px) {
    .description-column {
      max-width: 150px; /* Adjust as needed for smaller screens */
    }
  }

  /* Increase the height of all table cells (th and td) */
  .table th,
  .table td {
    padding: 20px 15px; /* Adjust the padding to increase cell height */
  }
</style>
   

<%-include('../admin/layouts/footer.ejs') %>
