
<%-include('../admin/layouts/header.ejs') %>
<%-include('../admin/layouts/sideBar.ejs') %>
<%-include('../admin/layouts/navBar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">

    <div class="category-filter">
      <label for="categoryFilter">Filter by Category:</label>
      <select id="categoryFilter" name="category">
        <option value="">All Categories</option>
        <% categories.forEach(category => { %>
          <option value="<%= category.categoryName %>"><%= category.name %></option>
        <% }); %>
      </select> 
    </div>

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">PRODUCTS</h2>

          <!-- Display the list of products -->
          <table class="table">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Image</th>
                <th>Size</th>
                <th> Edit </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product => { %>
                <tr>
                  <td><%= product.productName %></td>
                  <td><%= product.category.name %></td>
                  <td><%= product.price %></td>
                  <td><%= product.quantity %></td>
                  <td><%= product.description %></td>
                  <td>
                    <% product.images.forEach(image => { %>
                      <img src="/static/adminAssets/images/products/<%= image %>" alt="<%= product.productName %>">
                    <% }); %>
                  </td>
                  <td><%= product.size %></td>
                  <td> <a href="/admin/editProduct?id=<%= product._id%>">
                    <button type="button" class="btn btn-outline-secondary btn-icon-text">
                      Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                    </button>
                  </a></td>
                  <td><% if (product.status === false) { %>
                    <a href="/admin/unlistProduct?id=<%= product._id %>">
                      <button type="button" class="btn btn-inverse-success btn-fw">
                        List
                      </button>
                    </a>
                  <% } else { %>
                    <a href="/admin/unlistProduct?id=<%= product._id %>">
                      <button type="button" class="btn btn-inverse-danger btn-fw">
                        Unlist
                      </button>
                    </a> 
                  <% } %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#categoryFilter').change(function () {
      var selectedCategory = $(this).val();
      var products = $('.table tbody tr');
      if (selectedCategory === '') {
        products.show();
      } else {
        products.hide();
        products.each(function () {
          var category = $(this).find('td:eq(1)').text();
          if (category === selectedCategory) {
            $(this).show();
          }
        });
      }
    });
  });
</script>

<%-include('../admin/layouts/footer.ejs') %>