<%-include('../users/layouts/header.ejs') %>
<%-include('../users/layouts/navBar.ejs') %>


<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
           
            <% banner.forEach((banner) => { %>
            <div class="item-slick1" style="background-image: url('/static/adminAssets/images/banner/<%= banner.image %>')">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                <%= banner. title %>
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                <%= banner. description %>
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="/products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
               <% }) %>

        </div>
    </div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="/static/userAssets/images/new-img-1.jpg" alt="IMG-BANNER">

                    <a href="/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8 mt-7">
                                Shoes
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Fashion 2023
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="/static/userAssets/images/banner-02.jpg" alt="IMG-BANNER">

                    <a href="/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Clothes
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2023
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="/static/userAssets/images/baner-pant-1.jpg" alt="IMG-BANNER">

                    <a href="/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Pants
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                New Trend
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10 mt-5 custom-margin">
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button category-*">
                            All Products
                        </button>
                    
                        <% catData.forEach(function(cat) { %>
                            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button" data-filter=".category-<%= cat.name %>">
                                <%= cat.name %>
                            </button>
                        <% }); %>
                    </div>
            

        </div>

        <div class="row isotope-grid">
            <% product.forEach((product) => { %>
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item category-<%= product.category.name %>">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img style=" height: 22rem; "
                                src="/static/adminAssets/images/products/<%= product.images[0] %>"
                                alt="IMG-PRODUCT">

                            <a href="/productDetails?id=<%= product._id %>"
                                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 text-center">
                                Product Details
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <span class="stext-105 cl3">
                                    <%= product.brand %>
                                </span>
                                <a href="/productDetails?id=<%= product._id %>"
                                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <%= product.productName %>
                                </a>

                                <span class="stext-105 cl3">
                                    ₹ <%= product.price %>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <% }) %>
        </div>


        </div>

       
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterButtons = document.querySelectorAll(".filter-button");
        const productItems = document.querySelectorAll(".isotope-item");

        filterButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const category = button.getAttribute("data-filter");
                console.log('Button clicked for category:', category);

                // Toggle the 'filter-link-active' class
                filterButtons.forEach(function (btn) {
                    btn.classList.remove('filter-link-active');
                });
                button.classList.add('filter-link-active');

                productItems.forEach(function (item) {
                    item.style.display = "none";

                    if (category === ".category-*" || item.classList.contains(category.slice(1))) {
                        item.style.display = "block";
                    }
                });
            });
        });
    });
</script> 


<%-include('../users/layouts/footer.ejs') %>