
<%-include('../users/layouts/header.ejs') %>
<%-include('../users/layouts/navBar.ejs') %>


    <!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg m-t-100">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				Men
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				<%= product.productName %>
			</span>
		</div>
	</div>

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
                                <% product.images.forEach(data=>{ %>

								<div class="item-slick3" data-thumb="/static/adminAssets/images/products/<%= data %>">
									<div class="wrap-pic-w pos-relative main-image-<%= product.images.indexOf(data) %>">
										<img style="height: 35rem;" id="main-img-<%= product.images.indexOf(data) %>"  src="/static/adminAssets/images/products/<%= data %>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/adminAssets/images/products/<%= data %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								<% }) %>

							</div>

						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">

						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%= product.brand %>
						</h4>
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%= product.productName %>
						</h4>

						<% if (product.offer && product.offer.discount > 0) { %>
							<span class="mtext-106 cl2">
								₹ <del><%= product.price %></del>
							</span>
							<span class="mtext-106 cl2 text-danger ml-5">
								₹ <%= product.discountedPrice %>
							</span>
						<% } else { %>
							<span class="mtext-106 cl2">
								₹ <%= product.price %>
							</span>
						<% } %>
						

						<p class="stext-102 cl3 p-t-23">
							<%= product.description %>
						</p>
						<br>
						<span class="mtext-106 cl2">
							Size : <%= product.size %>
						</span>
						
						<!--  -->
						<div class="p-t-33">
							

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" 
										onclick="addCart('<%= product._id %>','<%= user %>')">
											Add to cart
										</button>
								</div>
							</div>	
						</div>

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>
	

	<!-- // ========== product zoom =========== -->
	<script src="/static/userAssets/js/zoom.js"></script>



<%-include('../users/layouts/footer.ejs') %>