<%-include('../users/layouts/header.ejs') %>
    <%-include('../users/layouts/navBar.ejs') %>

        <!-- Product -->
        <div class="bg0 m-t-100 p-b-140">
            <div class="container">
                <div class="flex-w flex-sb-m p-b-52 mt-5">

                    <div class="flex-w flex-l-m filter-tope-group m-tb-10 mt-5 custom-margin">
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button category-*">
                            All Products
                        </button>

                        <% catData.forEach(function(cat) { %>
                            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button"
                                data-filter=".category-<%= cat.name %>">
                                <%= cat.name %>
                            </button>
                            <% }); %>
                    </div>


                    <div class="flex-w flex-c-m m-tb-10">
                        <div
                            class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Filter
                        </div>

                        <div
                            class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Search
                        </div>
                    </div>

                    <!-- Search product -->
                    <div class="dis-none panel-search w-full p-t-10 p-b-15">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 w-100 " type="search" placeholder="Search" name="search" aria-label="Search">
                          </form>
                    </div>

                   

                    <!-- Filter --> 
                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Categories
                                </div>
                    
                                <ul>
                                    <%catData.forEach((cat)=>{%>
                    
                                    <li class="p-b-6">
                                        <% if(category==cat._id) { %>
                                        <a href="?category=<%=cat._id%>&sortValue=<%=sortValue%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>"
                                            style="color:#f44072;">
                                            <%=cat.name %>
                                        </a>
                                        <% } else { %>
                                        <a href="?category=<%=cat._id%>&sortValue=<%=sortValue%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>"
                                            style="color: #636363;">
                                            <%=cat.name %>
                                        </a>
                                        <% } %>
                                    </li>
                                    <% })%>
                                </ul>
                            </div>
                    
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Brands
                                </div>
                            
                                <ul>
                                    <% brands.forEach((brand) => { %>
                                        <li class="p-b-6">
                                            <% if(brand == brand._id) { %>
                                                <a href="?brand=<%= brand._id %>&sortValue=<%= sortValue %>&category=<%= category %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&search=<%= search %>" style="color: #f44072;">
                                                    <%= brand._id %>
                                                </a>
                                            <% } else { %>
                                                <a href="?brand=<%= brand._id %>&sortValue=<%= sortValue %>&category=<%= category %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&search=<%= search %>" style="color: #636363;">
                                                    <%= brand._id %>
                                                </a>
                                            <% } %>
                                        </li>
                                    <% }) %>
                                </ul>
                                <div class="text-right mt-3">
                                    <a href="/products">
                                        <button class="btn btn-outline-primary-2">Cancel</button>
                                    </a>
                                   </div>
                            </div>
                    
                            <div class="filter-col2 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Price
                                </div>
                    
                                <ul>
                    
                                    <li class="p-b-6">
                                        <% if(maxPrice==499){ %>
                                        <p><a href="?minPrice=0&maxPrice=499&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color:#f44072;">₹0 - ₹499</a></p>
                                        <% }else{ %>
                                        <p><a href="?minPrice=0&maxPrice=499&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color: #636363;">₹0 - ₹499</a></p>
                                        <% } %>
                                        <% if(maxPrice==999){ %>
                                        <p><a href="?minPrice=500&maxPrice=999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color:#f44072;">₹500 - ₹999</a>
                                        </p>
                                        <% }else{ %>
                                        <p><a href="?minPrice=500&maxPrice=999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color: #636363;">₹500 - ₹999</a>
                                        </p>
                                        <% } %>
                                        <% if(maxPrice==1999){ %>
                                        <p><a href="?minPrice=1000&maxPrice=1999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color:#f44072;">₹1000 - ₹1999</a></p>
                                        <% }else{ %>
                                        <p><a href="?minPrice=1000&maxPrice=1999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color: #636363;">₹1000 - ₹1999</a></p>
                                        <% } %>
                                        <% if(maxPrice==4999){ %>
                                        <p><a href="?minPrice=2000&maxPrice=4999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color:#f44072;">₹2000 - ₹4999</a></p>
                                        <% }else{ %>
                                        <p><a href="?minPrice=2000&maxPrice=4999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color: #636363;">₹2000 - ₹4999</a></p>
                                        <% } %>
                                        <% if(minPrice==5000){ %>
                                        <p><a href="?minPrice=5000&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color:#f44072;">₹5000+</a>
                                        </p>
                                        <% }else{ %>
                                        <p><a href="?minPrice=5000&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                                style="color: #636363;">₹5000+</a>
                                        </p>
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                    
                            <div class="filter-col4 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Sort:
                                </div>
                    
                                <div class="flex-w p-t-4 ">
                                    <% if(sortValue&&sortValue==3) {%>
                                    <a href="?sortValue=3&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                        style="color:#f44072;">
                                        Latest
                                    </a>
                                    <%}else{%>
                                        <a href="?sortValue=3&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                            style="color: #636363;">
                                            Latest
                                        </a>
                    
                                    <%}%>
                                    <% if(sortValue&&sortValue==2) {%>
                                    <a href="?sortValue=2&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Price Low to High
                                    </a>
                                    <%}else{%>
                                        <a href="?sortValue=2&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                            style="color: #636363;">
                                            Price Low to High
                                        </a>
                    
                                   <% }%>
                                   <% if(sortValue&&sortValue==1) {%>
                                    <a href="?sortValue=1&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Price High to Low
                                    </a>
                                <%}else{%>
                                    <a href="?sortValue=1&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                        style="color: #636363;">
                                        Price High to Low
                                    </a>
                               <% }%>
                    
                                    
                            </div>
                            
                            </div>
                        </div>
                    </div>
                    
                 </div>

                <div class="row isotope-grid">
                    <% product.forEach((product)=>{ %>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item category-<%= product.category.name %>">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <% if(product.offer && product.offer.discount> 0) { %>
                                        <div class="discount-badge"
                                            style="background-color: #ff5733; color: #f8f8f8; padding: 5px; position: absolute; z-index: 1; width: 74px;">
                                            <span class="stext-103 size-102">
                                                <%= product.offer.discount %> % OFF
                                            </span>
                                        </div>
                                        <% } %>
                                            <img style="height: 22rem;"
                                                src="/static/adminAssets/images/products/<%= product.images[0] %>"
                                                alt="IMG-PRODUCT">
                                            <a href="/productDetails?id=<%= product._id %>"
                                                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 text-center">
                                                Product Details
                                            </a>
                                </div>
                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l">
                                        <span class="stext-105 cl3">
                                            <%= product.brand %>
                                        </span>
                                        <a href="/productDetails?id=<%= product._id %>"
                                            class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            <%= product.productName %>
                                        </a>
                                        <% if(product.offer && product.offer.discount> 0) { %>
                                            <div class="d-flex">
                                                <span class="stext-105 cl3">
                                                    <del>₹ <%= product.price %></del>
                                                </span>
                                                <span class="stext-105 cl3" style="margin-left: 130px;">
                                                    <p class="text-danger">₹ <%= product.discountedPrice %>
                                                    </p>
                                                </span>
                                            </div>
                                            <% } else { %>
                                                <span class="stext-105 cl3">
                                                    ₹ <%= product.price %>
                                                </span>
                                                <% } %>
                                    </div>
                                    <div class="block2-txt-child2 flex-r p-t-3">
                                        <a href="#" class="btn-addwish-b2 dis-block pos-relative"
                                            data-product-id="<%= product._id %>">
                                            <img class="icon-heart1 dis-block trans-04"
                                                src="/static/userAssets/images/icons/icon-heart-01.png" alt="ICON">
                                            <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                src="/static/userAssets/images/icons/icon-heart-02.png" alt="ICON">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <% }) %>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="/products?page=<%= currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <% for (let i=1; i <=pages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="/products?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                                <li class="page-item <%= currentPage === pages ? 'disabled' : '' %>">
                                    <a class="page-link" href="/products?page=<%= currentPage + 1 %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                    </ul>
                </nav>

                <!-- Pagination End -->



            </div>
        </div>

        
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterButtons = document.querySelectorAll(".filter-button");
        const productItems = document.querySelectorAll(".isotope-item");

        filterButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const category = button.getAttribute("data-filter");
                console.log('Button clicked for category:', category);

                // Toggle the 'filter-link-active' class
                filterButtons.forEach(function (btn) {
                    btn.classList.remove('filter-link-active');
                });
                button.classList.add('filter-link-active');

                productItems.forEach(function (item) {
                    item.style.display = "none";

                    if (category === ".category-*" || item.classList.contains(category.slice(1))) {
                        item.style.display = "block";
                    }
                });
            });
        });
    });
</script> 




<%-include('../users/layouts/footer.ejs') %>